<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">People</div>
            <div class="panel-body"></div> 
            <a ng-href="#!/people"><img src="images/people.jpg" /></a> 
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Planets</div>
            <div class="panel-body"></div> 
            <a ng-href="#!/planets"><img src="images/planets.jpg" /></a> 
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Films</div>
            <div class="panel-body"></div> 
            <a ng-href="#!/films"><img src="images/films.jpg" /></a> 
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Species</div>
            <div class="panel-body"></div> 
            <a ng-href="#!/species"><img src="images/species.jpg" /></a> 
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Vehicles</div>
            <div class="panel-body"></div> 
            <a ng-href="#!/vehicles"><img src="images/vehicles.jpg" /></a> 
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Starships</div>
            <div class="panel-body"></div> 
            <a ng-href="#!/starships"><img src="images/starships.jpg" /></a> 
        </div>
    </div>
</div>